.bespoke-slide
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-start
  padding 1.5rem
  h1, h2, h3, h4, h5, h6
    margin 0 0 .5em 0
    padding 0
  p, pre
    // as the slide is flex, there is no margin collapsing
    margin-top 0


.layout-title
  justify-content space-around
  align-items center
  text-align center
  padding 0
  h1
    color var(--big-title-color)
  h2
    background-color var(--accent-color)
    width 100%
    padding 2em 0
    margin 1em 0 0
    strong
      color var(--accent-more-color)

.layout-section-header
  flex-wrap wrap
  justify-content center
  padding 0
  &::after
    display block
    content " "
    position absolute
    top 0
    right 0
    width 50%
    height 100%
    z-index -1
    background-color var(--accent-color)
  .content
    display block
    box-sizing border-box
    p, li, dd, dt
      background-color var(--presentation-color)
    p
      display inline
      &::after
        content " "
        display block
        margin-bottom 0.5em
    &::after
      content " "
      display block
      width 3em
      height 1px
      border-bottom 3px solid var(--presentation-color)
    li
      display inline
      &::before
        content " "
        display list-item
        float left
      &::after
        content " "
        display block
  & > *
    width 50%
    padding 0 1em
  & > ul, & > ol
    padding-left 2em
  h1, h2
    margin 0
    padding 0
    text-align center
  h1
    height 70%
    box-sizing border-box
    padding 2em .15em .5em
  h2
    height 30%

.layout-centered-vertical,
.layout-centered
  justify-content center

.layout-centered-horizontal,
.layout-centered
  align-items center

.layout-2-column-content,
.layout-3-column-content,
.layout-4-column-content
  display grid
  grid-template-rows auto 1fr
  column-gap var(--layout-column-gap)

.layout-2-column-content
  grid-template-columns 1fr 1fr
  h1, h2, h3, h4, h5, h6,
  .span-columns
    grid-column 1 / 3

.layout-3-column-content
  grid-template-columns 1fr 1fr 1fr
  h1, h2, h3, h4, h5, h6,
  .span-columns
    grid-column 1 / 4

.layout-4-column-content
  grid-template-columns 1fr 1fr 1fr 1fr
  h1, h2, h3, h4, h5, h6,
  .span-columns
    grid-column 1 / 5


.layout-2-column-highlight-and-content
  display grid
  grid-template-rows auto 1fr
  grid-template-columns minmax(auto, 1fr) 3fr
  column-gap 1em
  perspective inherit
  h1, h2, h3, h4, h5, h6
    grid-column 1 / 3
  // a figure/image/p/iframe/whatever to the left, in highlight
  & > *:nth-child(2)
    width 90%
    margin 0 0 0 auto
    box-shadow 0px 0px 20px #0000
    transition all 500ms ease 400ms
    opacity .5
    transform scale(.75)
    transform-origin right
    & > img
    & > iframe
      max-width 100%
      max-height @max-width
    & > iframe
      height 100%
  &.bespoke-active
    & > *:nth-child(2)
      transform rotateY(30deg) scale(.9)
      -moz-transform rotateY(8deg) scale(.9)
      opacity 1
      box-shadow -20px 20px 20px var(--shadow-color)
  .span-columns
    grid-column 1 / 3
      

.layout-3-column-element-with-titles-expansible
  display flex
  flex-direction column
  flex-wrap wrap
  align-items flex-start
  & > *
    width calc(33% - 1rem)
  h1, h2, h3, h4, h5, h6
    margin auto 0
    &:not(:last-of-type)
      margin-right 1rem
  & > *:nth-child(2n)
    height calc(100% - 2.5em)
    margin 0
    position relative
    &:not(:last-of-type)
      margin-right 1rem
    &:hover
      left 0
      width 100%
      z-index 1
    &:nth-of-type(2)
      transition-duration 50ms
      &:hover
        left -33%
    &:nth-of-type(3)
      transition none
      &:hover
        left -67%

.layout-2-column-content-zigzag
  flex-direction row
  flex-wrap wrap
  align-items flex-start

  h1, h2
    width 100%
  
  & > *:not(:first-child)
    width 48%

  .span-columns
    grid-column 1 / 3



$balloon-size = 200px
$balloon-radius = 180px
$image-size = 125px
.layout-circling-balloons
  h1, h2, h3, h4, h5, h6
    z-index 1

  // the ul occupies the whole slide
  & > ul
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    margin 0

  // list items are the balloons
  & > ul > li
    position absolute
    width $balloon-size
    height @width
    line-height 1em
    left "calc(50% - %s)" % (@width/2)
    top "calc(50% - %s)" % (@height/2)
    padding 0
    margin 0
    border-radius 50%
    background var(--circling-balloons-bg)
    color var(--text-color)
    overflow hidden
    list-style-type none
    transition all 250ms ease
    animation circling 36s linear 0s infinite

    for i in (1..3)
      &:nth-of-type({i})
        animation-delay "%ss" % (-(i - 1)*12)

    // first child of a li is a p that contains an img
    & > :first-child
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin 0
      padding-left 1.5em
      padding-right 1.5em
      transition all 250ms ease

      img
        display block
        width $image-size
        height @width
        margin (($balloon-size - @height)/2) auto

    // second child of a li is a list (ul, ol, dl)
    & > :nth-child(2)
      margin-top $balloon-size
      padding 1em

    // when the li is hovered, it should expand
    &:hover
      width 26em
      height 10em
      top "calc(50% - %s)" % (@height/2)
      left "calc(50% - %s)" % (@width/2)
      border-radius 2em
      overflow visible
      z-index 2

      // the li's first child (p) should move to top
      & > :first-child
        transform translateY(-50%)

      // the list (ul, ol, dl) should have just a small margin top
      & > :nth-child(2)
        margin-top 1em

  // when the ul is hovered, the circling animation pauses
  & > ul:hover > li
    animation-play-state paused


@keyframes circling
  from
    transform rotate(0turn) translate($balloon-radius) rotate(0turn)
  to
    transform rotate(1turn) translate($balloon-radius) rotate(-1turn)


.layout-tall-figure-right,
.layout-tall-figure-left
  display grid
  grid-template-rows auto 1fr
  grid-template-columns min(auto, .5fr) 1fr
  h1, h2, h3, h4, h5, h6
    grid-column 1 / 3
  // a figure/image/p/whatever to the side
  & > :nth-child(2) > img,
  & > img:nth-child(2)
      max-width 100%
      max-height @max-width
  .span-columns
    grid-column 1 / 3
 
.layout-tall-figure-right
  grid-template-columns 1fr min(auto, .5fr)
  & > :nth-child(2)
    grid-column 2 / 3
  & > :nth-child(3)
    grid-row 2 / 3


.layout-main-point,
[data-bespoke-state="emphatic"]
  justify-content center
  align-items center
  &.bespoke-slide
    background-color var(--emphatic-color)
    h1, h2, h3, h4, h5, h6
      color white
  &.bespoke-parent
    background-color var(--emphatic-color)


.full-page-video-caption
  position absolute
  bottom 30px
  font-size 0.75em
  left 50%
  width 16em
  text-align center
  margin-left -8em
  padding 0
  background-color rgba(255, 255, 8, .65)
  border-radius .25em
  box-shadow 3px 3px 3px var(--shadow-color)