// $print-body-padding = .1in
// $print-page-margin = .79in
// $print-a4-width = 8.26771654in
// $print-a4-height = 11.6929134in
// $slide-spacing = 1in
$print-body-padding = 9.6px
$print-page-margin = 75.84px
$print-a4-width = 793.70078784px
$print-a4-height = 1122.5196864px
$slide-spacing = 64px
$parent-width = $slide-width * 2 + $slide-spacing

@media print
  :root
    --slide-spacing $slide-spacing

  .bespoke-parent,
  .bespoke-scale-parent
    position relative
    display grid
    grid-template-columns 1fr 1fr
    column-gap var(--slide-spacing)
    row-gap var(--slide-spacing)
    transform-origin left top
    width $parent-width
    height 100vh
    overflow visible
    transform scale(unit($print-a4-width / $parent-width, ''))

  .bespoke-slide
    position relative
    width $slide-width
    height $slide-height
    outline 2px solid black !important
    page-break-inside avoid !important
    .bespoke-bullet-inactive
      opacity 1 !important
      transform none !important
      transition none !important

  @page
    margin $print-page-margin !important

  // to support bespoke-scale
  .bespoke-scale-parent
    transform none !important
    zoom 1 !important

@media print and (orientation: landscape)
  $parent-width $slide-width * 3 + $slide-spacing * 2
  .bespoke-parent,
  .bespoke-scale-parent
    --slide-spacing 110px
    row-gap calc(var(--slide-spacing) * 1.5)
    grid-template-columns repeat(3, 1fr)
    width $parent-width
    transform scale(unit($print-a4-width / $parent-width, ''))