// normalization
@require 'normalize.css/normalize.css'
*
  box-sizing border-box

@require variables
@require mixins

@media screen
  .bespoke-parent
    parent()
    overflow hidden
    background-color var(--presentation-color)
    color var(--text-color)
    font-size $root-font-size
    &:not(.emphatic)
      transition background-color var(--transition-duration) var(--transition-easing)

  .bespoke-slide
    position absolute
    width $slide-width
    height $slide-height
    top 50%
    left 50%
    margin-left -(@width / 2)
    margin-top -(@height / 2)
    overflow hidden
    contain size layout style
    content-visibility auto

  .bespoke-inactive
    opacity 0
    pointer-events none

    .bespoke-bullet-inactive
      transition opacity 0.4s ease

    // only shows next/previous 3 slides and current to increase performance
    &:not(.bespoke-after-1):not(.bespoke-before-1):not(.bespoke-after-2):not(.bespoke-before-2):not(.bespoke-after-3):not(.bespoke-before-3)
      display none


@require typography
@require utility-classes
@require transitions
@require layouts
@require bespoke-scale
@require bespoke-backdrop
@require bespoke-state
@require bespoke-bullets
@require bespoke-progress
@require bespoke-simple-overview
@require bespoke-search
@require print
