// font families
$font-family-serif = 'Amatica SC', cursive
$font-family-sans = 'Source Code Pro', monospace

// layout
$slide-height = 600px
$slide-width = $slide-height * (16/9)
$root-font-size = 24px

// slide transitions
$transition-duration = 400ms
$transition-easing = ease

// colors
$presentation-color = #fff
$accent-color = #00fdc8
$emphatic-color = #7c7ce0
$link-color = #db4437
$text-color = #252525
$big-title-color = #6e8ae4
$regular-title-color = #000

// elements configuration
$definition-list-width = 10em
$definition-list-spacing = 0.5em
$table-border-color = gray
